/* --------------------------------------- */
/* Animatie */
/* --------------------------------------- */

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 5%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.pk-avatar img {
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}