/* --------------------------------------- */
/* Homepage */
/* --------------------------------------- */

/* Uitzondering voor de homepage met de foto met leuke achtergrond */
#main-content:has( article:first-child > header:first-child + .pk-avatar ) {
    padding-top: 2rem;
}
.pk-avatar {
    position: inherit;
    img {
        position: relative; 
    }
}
.home .pk-avatar:before{
    content: '';
    position: absolute;
    left:50%;
    height: 400px;
    bottom: 30px;
    z-index: 0;
    background: #FBFAF7 url('../img/bg-home-01.webp') no-repeat bottom center;
    transform: translateX(-50vw) rotate(-1deg);
    width: 100vw;
}
