/* Styling the menu */
#primary-menu {
    background-color: var(--color-secondary-dark);   
    padding: 3.1rem 2rem 3rem 2rem;
    overflow: hidden auto;
    height: 100%;
  }
#footer-menu{
    background-color: var(--color-secondary-dark);
    padding-block: 3.1rem;
}

/* ------------------- */
/* Grid */


/* Basis */
.nav-links ul {
  color: white;
}

.nav-links.layout-grid-2 {
    ul{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 12px 2rem;
    }
}
@media (max-width: 768px) {
  .nav-links.layout-grid-2 ul {
    grid-template-columns: 1fr;
  }
}
.nav-links.layout-stack {
  ul{
    display: flex;
    flex-direction: column;
    gap: .85rem;
  }
}

.nav-links a {
  display: flex;
  color: inherit;
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  padding: 6px 8px;
  /* text-decoration: none; */
  transition: background 0.2s ease, transform 0.15s ease;

  &.active,
  &:active {
      color: #fff;
      background-color: var(--wp--preset--color--primary);
      border-color: #b58112;
  }
  &:hover, 
  &:focus {
      background-color: #fff;
      color: var(--wp--preset--color--primary);
      border-color: rgba(255, 255, 255, 0);
      transform: translateX(2px);
  }
  /* focus (toegankelijkheid) */
  &:focus-visible {
      outline: 2px solid #0073aa;
      outline-offset: 2px;
  }
}

/* ------------------- */
/* Nummering */
.nav-links.counter {
  ul{
      counter-reset: navitem;
  }
  li {
      counter-increment: navitem;
  }
  a::before {
    content: counter(navitem, decimal-leading-zero) " ";
    color: #999;
    margin-right: 8px;
    font-size: 0.9em;
  }
}
/* ------------------- */
/* icon */
.nav-links .icon {
  color: #999;
  transition: transform 0.2s ease, color 0.2s ease;
}