
/* general page styling */

/* --------------------------------------- */
/* hacks  */
p:empty{
    display: none;
}
/* Kleinere ruimte tussen buttons */
.wp-block-buttons.wp-block-buttons-is-layout-flex {
    gap: 1rem;
}

/* --------------------------------------- */
/* Screenreader */
/* --------------------------------------- */
.focus\:not-sr-only:focus {
    position: absolute!important;
    z-index: 100;
}
/* --------------------------------------- */

body{
    padding-top: 28px!important;
}
body:before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 28px;
    top:0;
    background-color: oklch(0.44 0.01 260.35);
}
body > header {
    padding: 1.5rem max(2rem, (100vw - var(--wp--style--global--wide-size)) / 2);
}
/* Afbeelding */
#main-content{
    position: relative;
    overflow: clip;
    &:before{
        content: '';
        position: absolute;
        top: -40px;
        left: 0;
        z-index: 0;
        width: 100vw;
        height: 80px;
        background: url('../img/bg-home-01.webp') repeat-x center bottom;
    }
}

article{
    position: relative;
}



/* --------------------------------------- */
/* Footer */
/* --------------------------------------- */

/* HTML OMZETTEN NAAR WP COLUMNS */
#companyinfo {
    color: rgb(209, 213, 219);
    background-color: rgb(89, 89, 89);
    padding-block: 3.1rem;
    margin-bottom: 0; /* correctie om goed HtML te krijgen */

    padding-inline: max( 2rem, calc( ( 100vw - var(--wp--style--global--content-size) ) / 2 ) ) ;
    h2 {
        color: white;
        text-transform: uppercase;
        font-size: inherit;
    }
    a {
        color: inherit;
    }
    address {
        font-style: inherit;
    }
}
#copyright {
    color: rgb(209, 213, 219);
    padding-inline:  max( 2rem,  calc( ( 100vw - var(--wp--style--global--content-size) ) / 2 ) ) ;
    padding-bottom: 3rem;
    margin-inline: -2rem;
    background-color: rgb(89, 89, 89);
}

/* --------------------------------------- */
 /* Breedte van segmenten */
/* --------------------------------------- */
footer > *:not(.alignfull, .alignwide, .is-layout-constrained),
article > *:not(.alignfull, .alignwide, .is-layout-constrained){
    max-width: var(--wp--style--global--content-size);
    margin-inline: auto;
}
.alignfull {
    &.nav-links,
    &.wp-block-columns,
    &.wp-block-group,
    &.wp-block-cover  {
        margin-inline: -2rem;
        padding-inline: 2rem;
    }
}
article > .wp-block-columns:not(.alignfull, .alignwide) {
    max-width: var(--wp--style--global--content-size);
    margin-inline: auto;
}
/* MEDIAQUERY VOOR WIDE DAT DIE GEEN MARGE MEER PAKT>  */
@media (max-width: 999px ) {
    .wp-block-cover.alignwide {
        margin-inline: -2rem;
        padding-inline: 2rem;
        max-width: initial;
    }
}
.alignwide {
    margin-inline: auto;
    max-width: var(--wp--style--global--wide-size);
} 
/* linker rechter marge */
#colophon,
#main-content{
    padding-inline: 2rem;
}

/* --------------------------------------- */
/* Vertikale spacing */
/* --------------------------------------- */

body > :last-child{
    padding-bottom: 3rem;
}
#main-content {
    padding-top: 4.5rem;
}
/* Alles krijgt padding bottom.  */
/* Iets met background  padding onder en bovern */
.wp-block-group{
    padding-bottom: 2.1rem;
}
/* Whitespace rand */
.wp-block-cover {
    padding-block: 3rem;
}
.wp-block-group.has-background {
    padding-block: 3rem;
}
/* Alles direct na iets met Whitespace rand  */
.wp-block-cover,
.wp-block-group.has-background {
     + *:not(.wp-block-cover, .wp-block-group.has-background){
        padding-top: 3.1rem;
     }
}
.wp-block-columns:has(+ .wp-block-group.has-background) {
    margin-bottom: 5rem;
    /* background-color: yellow; */
}
.wpforms-submit,
.wp-block-button.wp-block-button{
    margin-bottom: 2.1rem;
}
/* Laatste onderdeel van article */
article:has( > p:last-child){
    padding-bottom: 5rem;
}

#companyinfo .wp-block-column > * {
    margin-block-start: 1rem;
    margin-block-end: 0;
    &:first-child {
        margin-block-start: 0;
    }
}
