body{
    position: relative;
    transition: right 0.2s ease 0s;
    right: 0;
    .icon-menu-open{
        display: inline-block;
    }
    .icon-menu-close{
        display: none;
    }
}
/* Algemeen */
body.menuopen {
    position: absolute;
    .icon-menu-open{
        display: none;
    }
    .icon-menu-close{
        display: inline-block;
    }
}
/* Het menu */
#primary-menu{
    transition: right 0.2s ease 0s; 
    position: fixed;
    top:0;
    z-index: 1;
}
body.menuopen #primary-menu {
    right: 0; 
}
/* MOBIEL VERSIE  */
@media handheld, only screen and (max-width: 553px){
    body.menuopen {
        right: calc(100vw - 84px);
    }
    #primary-menu{
        /* background-color: chartreuse; */
        right: calc(84px - 100vw);
        width: calc(100vw - 84px); 
    }
}
 /* Version */
@media handheld, only screen and (min-width: 554px){
    body.menuopen {
        right: 470px;
    }
    #primary-menu{
        right: -470px;
        width: 470px; 
    }
}