/* --------------------------------------- */
/* wp-blocks */
/* --------------------------------------- */

/* Logica om WP block met een wit blokje te krijgen  */
.wp-block-column.has-background {
    padding: 1.5rem;
}
.wp-block-columns:has(.wp-block-column.has-background + 
.wp-block-column:empty),
.wp-block-columns:has(.wp-block-column:empty + 
.wp-block-column.has-background) {
    gap: 0;
}

.wp-block-image.aligncenter {
    width: 100%;
    > img {
        display: inline-block;
    }
}

/* ------------------- */
.wp-block-columns {
  align-items: normal !important;
}
@media (min-width: 782px) {
  .wp-block-columns {
    flex-wrap: nowrap !important;
  }
}
@media (max-width: 781px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
    flex-basis: 100% !important;
  }
}
@media (min-width: 782px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
    flex-basis: 0;
    flex-grow: 1;
  }
}